{{- $email := "" -}}
{{- if hasKey . "email" -}}
{{-   $email = .email -}}
{{- else -}}
{{-   $email = promptString "Email address" -}}
{{- end -}}

{{- $system := "" -}}
{{- if hasKey . "system" -}}
{{-   $system = .system -}}
{{- /* Set client to the MacOS default system */ -}}
{{- else if eq .chezmoi.os "darwin" -}}
{{    $system = "client" -}}
{{- else -}}
{{-   $system = promptString "System (client or server)" -}}
{{- end -}}

{{- $install_gui := "" -}}
{{- if hasKey . "install_gui" -}}
{{-   $install_gui = .install_gui -}}
{{- /* Set client to the MacOS default install_gui */ -}}
{{- else if eq .chezmoi.os "darwin" -}}
{{    $install_gui = "yes" -}}
{{- else -}}
{{-   $install_gui = promptString "Install GUI? (yes or no)" -}}
{{- end -}}

data:
    name: Claudio Fritsche
    email: {{ $email | quote }}
    system: {{ $system | quote }}
    install_gui: {{ $install_gui | quote }}

# TODO: age encryption