<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>123A7343-26C7-450D-B058-5784B8FC54E7</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>nasvirt</string>
			<key>text</key>
			<string>NAS Virtual</string>
			<key>url</key>
			<string>https://192.168.1.35:5001/?_sid=&amp;launchApp=#/signin</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>14385947-D852-421F-9DF7-A29FD0B9B6FB</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>wa</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Wolfram Alpha</string>
			<key>url</key>
			<string>http://www.wolframalpha.com/input/?i={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>23606DF2-8EC0-4C3D-B837-27F964CB7CAC</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>spanishteacher</string>
			<key>text</key>
			<string>Spanish Teacher</string>
			<key>url</key>
			<string>https://chat.openai.com/c/06c4349b-2291-41e2-949f-7b4e2d24d297</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>2B3083EB-9CF5-4C68-9EA7-7B288F7DB923</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>netflix</string>
			<key>text</key>
			<string>Netflix</string>
			<key>url</key>
			<string>https://www.netflix.com/browse</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>2FAF1247-37F2-44F8-BA85-6E3C4AFAF7AF</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>lf</string>
			<key>text</key>
			<string>Leo Französisch</string>
			<key>url</key>
			<string>https://dict.leo.org/französisch-deutsch/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>3B533564-2246-4263-96B0-9A9451888721</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>nasvideo</string>
			<key>text</key>
			<string>Synology Video</string>
			<key>url</key>
			<string>https://nas-cf.noodlefish-iguana.ts.net:5551/?launchApp=SYNO.SDS.VideoStation.AppInstance</string>
		</dict>
		<key>7F4BAAA8-ABF3-4EDD-9AEE-D872140AA5C5</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>quickdrive</string>
			<key>text</key>
			<string>Quick Synology Drive</string>
			<key>url</key>
			<string>https://adventurenas.de5.quickconnect.to/?launchApp=SYNO.SDS.Drive.Application</string>
		</dict>
		<key>8719B67B-0ECB-4AD2-9F29-74C5A17238FA</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>nassync</string>
			<key>text</key>
			<string>Syncthing NAS</string>
			<key>url</key>
			<string>http://192.168.191.34:8384/#</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>94F1446E-2806-4C3A-960C-FB0C02AD5344</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>quickphoto</string>
			<key>text</key>
			<string>Quick Synology Photos</string>
			<key>url</key>
			<string>https://adventurenas.de5.quickconnect.to/?launchApp=SYNO.Foto.AppInstance</string>
		</dict>
		<key>9D123FC7-645A-48D3-9BF9-12314A6DA179</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>quickdsm</string>
			<key>text</key>
			<string>Synology DSM QC</string>
			<key>url</key>
			<string>https://adventurenas.de5.quickconnect.to</string>
		</dict>
		<key>B341701C-BA74-423A-9A6B-766EA31811A1</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>syn</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Thesarus Synonyms</string>
			<key>url</key>
			<string>http://www.thesaurus.com/browse/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>BD49C33B-E0F6-478F-AB48-00C39141FD9B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>quickvideo</string>
			<key>text</key>
			<string>Quick Synology Video</string>
			<key>url</key>
			<string>https://adventurenas.de5.quickconnect.to/?launchApp=SYNO.SDS.VideoStation.AppInstance</string>
		</dict>
		<key>C680E3F0-FDEF-47CE-A7BC-F4AED5E83561</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gs</string>
			<key>plusSpaces</key>
			<true/>
			<key>text</key>
			<string>Google Scholar</string>
			<key>url</key>
			<string>https://scholar.google.ch/scholar?hl=de&amp;as_sdt=0%2C5&amp;q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>C8FBDFEE-8321-4068-AEF7-CFFAE322BD0C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>lg</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Library Genesis</string>
			<key>url</key>
			<string>http://gen.lib.rus.ec/search.php?req={query}&amp;lg_topic=libgen&amp;open=0&amp;view=simple&amp;res=25&amp;phrase=1&amp;column=def</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>CF93E151-1DA9-4E23-984F-160CB44F8A7B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>nasdsm</string>
			<key>text</key>
			<string>DSM Synology</string>
			<key>url</key>
			<string>https://nas-cf.noodlefish-iguana.ts.net:5551/#/signin</string>
		</dict>
		<key>D2069A82-5440-4305-9837-8C1862D1AA8D</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>nasphotos</string>
			<key>text</key>
			<string>Synology Photos</string>
			<key>url</key>
			<string>https://nas-cf.noodlefish-iguana.ts.net:5551/?launchApp=SYNO.Foto.AppInstance</string>
		</dict>
		<key>DBE4F050-8F9F-4AA6-B81C-B627B343C0BE</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>le</string>
			<key>text</key>
			<string>Leo Englisch</string>
			<key>url</key>
			<string>https://dict.leo.org/german-english/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>DCD0E655-5825-4254-89B0-F682F1161CD0</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gf</string>
			<key>plusSpaces</key>
			<true/>
			<key>text</key>
			<string>Google Finance</string>
			<key>url</key>
			<string>https://www.google.com/finance?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>DDD6EB74-BB96-4E0F-A394-EB5E1A562A08</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>syncthing</string>
			<key>text</key>
			<string>Macbook Syncthing</string>
			<key>url</key>
			<string>http://127.0.0.1:8384/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>DF129E27-9D95-426E-B4BB-5AD630646729</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gif</string>
			<key>spaces</key>
			<string>-</string>
			<key>text</key>
			<string>Giphy search for {query}</string>
			<key>url</key>
			<string>https://giphy.com/search/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>E3D31884-D580-444D-88EC-19E8D8F53AAB</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>nasdrive</string>
			<key>text</key>
			<string>Synology Drive</string>
			<key>url</key>
			<string>https://nas-cf.noodlefish-iguana.ts.net:5551/?launchApp=SYNO.SDS.Drive.Application</string>
		</dict>
		<key>E4D79E82-69A9-49D1-98A5-CEA287342EAF</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>jelly</string>
			<key>text</key>
			<string>Jellyfin</string>
			<key>url</key>
			<string>http://nas-cf.noodlefish-iguana.ts.net:8096/web/#/home.html</string>
		</dict>
		<key>E7CBBBF0-FDB2-46B5-AAB5-519011941DE0</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ls</string>
			<key>text</key>
			<string>Leo Spanisch</string>
			<key>url</key>
			<string>https://dict.leo.org/spanisch-deutsch/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>E856B3F1-ABAE-48B7-A7BB-F102C6336B6D</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>daily</string>
			<key>text</key>
			<string>Obsidian Daily</string>
			<key>url</key>
			<string>obsidian://advanced-uri?vault=Main&amp;daily=true&amp;mode=append</string>
		</dict>
		<key>EB227F73-FAC5-44AE-B8CA-A7C33DB6587F</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>leoc</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Leo Chinesisch</string>
			<key>url</key>
			<string>http://dict.leo.org/chde/index_ch.html#/search={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>FD73C37D-CB9D-4D2F-8F75-A7334BEF52D7</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>li</string>
			<key>text</key>
			<string>Leo Italienisch</string>
			<key>url</key>
			<string>https://dict.leo.org/italienisch-deutsch/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
