{
	"$schema": "https://joplinapp.org/schema/settings.json",
	"editor.codeView": true,
	"sync.target": 9,
	"sync.9.path": "https://joplin.claudiofritsche.com",
	"sync.9.username": "claudio9fritsche@hotmail.com",
	"editor.pluginCompatibilityBannerDismissedFor": [
		"com.andrejilderda.macOSTheme",
		"com.whatever.quick-links",
		"joplin.plugin.benji.favorites",
		"outline",
		"plugin.calebjohn.rich-markdown",
		"io.github.jackgruber.backup"
	],
	"locale": "en_GB",
	"ocr.enabled": true,
	"theme": 4,
	"themeAutoDetect": false,
	"markdown.plugin.softbreaks": false,
	"markdown.plugin.typographer": false,
	"ui.layout": {
		"key": "root",
		"children": [
			{
				"key": "sideBar",
				"visible": true,
				"width": 214
			},
			{
				"key": "noteList",
				"visible": true,
				"width": 289
			},
			{
				"key": "plugin-view-outline-outline.panel",
				"context": {
					"pluginId": "outline"
				},
				"visible": true,
				"width": 164
			},
			{
				"key": "editor",
				"visible": true
			}
		],
		"visible": true
	},
	"noteVisiblePanes": [
		"editor",
		"viewer"
	],
	"api.token":{{.joplin_api_key}} ,
	"spellChecker.languages": [
		"en-GB",
		"de"
	]
}
